xlsenv
new-inventory-with-sumtotal*.xlsx
__pycache__
.pytest_cache
*/__pycache__
*/.pytest_cache
.DS_Store
*/.DS_Store
logs
*/logs
Downloaded/
Downloaded/*
browser_storage_state.json
.auth/
.auth/*
test-results/
test-results/*